header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #606C5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
  }
  
.logo img {
    height: 30px;
  }
  
.user-icon img {
    height: 30px;
  }
  .centrar-icono {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


*{
    box-sizing: border-box;
}

body {
    background: #FFF4F4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 110vh;
    margin: -20px 0 50px;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    top: 75px;
    left: calc(50% - 90px);
    
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}


.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    top: 200px;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}


.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.perfil-usuario-footer{
    display: flex;
    /**flex-wrap: wrap;*/
    flex-direction: column; /**/
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 300px; 
}


.contList{
    display: flex;
}


.divListas{
    display: flex;
}

.divBtnGuardar{
    flex: 1;
    text-align: center;
    padding: 10px;
}

.seccion-perfil-usuario .lista-datos {
    flex: 1;
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}



.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}


/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
}

.mensaje a {
    color: inherit;
    margin-right: .5rem;
    display: inline-block;
}
.mensaje a:hover {
    color: #309B76;
    transform: scale(1.4)
}


/*---------------------------------estilos del header-------------------------------------------------*/


.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.nav-links li:hover{
    transform: scale(1.1);
}

.nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.nav-links li a:hover{
    color: #ffbc0e;
}

.btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    width: auto;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}






/*---------------ventana emergente------------------------------------*/


.btn-open-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D90C43;
    display: block;
    background: white;
    padding: 20px 50px;
    border-radius: 50px;
}


.container-all{
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 90px;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
    padding-top:180px;
}

a:hover
{
    cursor: pointer;
}
.container-all:target{
    background: rgba(67, 67, 67, 0.5);
    visibility: visible;
    opacity: 1;
}

.container-all:target .popup{
    top: 40%; /*Ajustar la posicion de la pantalla emergente*/
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}


.popup{
    width: 100%;
    max-width: 800px;
    height: 500px;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    display: flex;
    background: white;
    visibility: hidden;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-180%, 230%);
    transition: all 600ms;
}


.container-all .popup .img{
    width: 40%;
    background-image: url(/img/logo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.container-text{
    width: 60%;
    padding: 50px;
    overflow-y: auto;
}


.container-text h1{
    font-size: 30px;
}

.container-text p{
    margin-top: 20px;
    font-size: 16px;
}


.btn-close-popup{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -20px;
    top: -20px;
    padding: 10px;
    background: rgb(159, 237, 151);
    color: white;
    border-radius: 50%;
    line-height: 10px;
    align-content: center;
}

@media screen and (max-width: 900px){
    .popup{
        flex-direction: column;
        height: 100%;
        max-height: 800px;
    }
    
    .img{
        width: 100%;
        height: 40%;
    }
    
    .container-text{
        width: 100%;
        height: 60%;
        padding: 80px;
    }

    .container-div{
        width: 100%;
        height: 60%;
        padding: 80px;
    }
    
}

@media screen and (max-width: 500px){
    .container-text, .container-div{
        padding: 20px;
    }
    
    .container-text h1, .container-div h1{
        font-size: 20px;
    }
    
    .container-text p, .container-div p{
        font-size: 12px;
    }
}


  
/*Estilos del formulario*/
.rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    color: #ddd;
    font-size: 24px;
    cursor: pointer;
  }
  
  .rating input:checked ~ label,
  .rating input:checked ~ label ~ input ~ label {
    color: #ffc107;
  }
  



  /*---------------------------estilos formulario de actualizar datos del perfil-------------------*/


  .container-text {
    max-width: 400px;
    margin: 0 auto;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: 5px 10px 18px #888888;
  }
  
  .container-text button {
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 30%;
    margin-top: 15px;
    box-shadow: 5px 10px 18px #888888;
  }
  
 


/*-----------------------------------------ESTILOS DE LAS NOTIFICACIONES-------------------------*/
.container-div{
    width: 100%;
    border-radius: 50px;
    max-width: 1200px;
    padding-top:50px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    overflow: auto;
    background-color: #FFF4F4;
    
}


.container-div h1{
    margin-top: 10px;
    font-size: 30px;
}


.container-div .card{
    width: 80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #606c5d58;
}