@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #606C5D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
.logo img {
    height: 30px;
  }
  
.user-icon img {
    height: 30px;
  }

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background: #FFF4F4;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}


/*------------estilos navbar-----------*/

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.nav-links li:hover{
    transform: scale(1.1);
}

.nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.nav-links li a:hover{
    color: #ffbc0e;
}

.btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

/*------------------------------------------------*/
.contForm{
    margin-top: 90px;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    border-radius: 10px;
}

form {
    width: 400px; 
    text-align: center;
}
  
  h2 {
    margin-bottom: 20px;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    width: auto;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}